body {
    font-family: Arial, sans-serif;
}

.app-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    cursor: pointer;
    font-size: 1rem;
}

.app-text {
    font-size: 1.5rem;
}

.app-container {
    text-align: center;
    padding: 1rem;
    max-width: 60rem;
    margin: auto;
}