.container {
    max-width: 50rem;
    margin: auto;
    padding: 2rem;
    background-color: #fafafa;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .16);
    text-align: center;
}

.container button {
    background-color: #0097e6;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s ease;
    margin-bottom: .5rem;
}

.container button:hover,
.container button:active {
    background-color: #0077b6;
}

.container p {
    padding: .5rem;
    border: .1rem solid #ddd;
    border-radius: .3rem;
}