.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    background-color: #f7f7f7;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #f5f5f5;
    color: #333;
    border: none;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 50rem;
}

button:hover {
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.3);
}